<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link zu .js und static -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Anleitungdurchgehen.css' %}">
    <script src="{% static 'js/Anleitungdurchgehen.js' %}" defer></script>
    <script src="{% static 'js/AD.js' %}" defer></script>

    <!-- Schriftart -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins">

    <title>Anleitung durchgehen</title>
</head>

<body>
    <div id="overlayVollbild">
        <div class="vollbild">
            <img class="schliessen" src="{% static 'Bilder/closecircle.svg' %}" onclick="popupOffV()">
        </div>
    </div>

    <!-- Popup Fragezeichen -->
    <div id="overlayFragezeichen" style="display: none;">
        <div class="FragezeichenPopup">
            <h2>Wichtige Informationen:</h2>
            <p>Hier können wichtige Informationen angezeigt werden.</p>
            <img class="schliessen" src="{% static 'Bilder/closecircle.svg' %}" onclick="popupOffF()">
        </div>
    </div>

    
    <!-- Divider für Schritte-Popup -->
    <div id="overlaySchritte">
        <div class="schritte">
            <img class="schliessen" src="{% static 'Bilder/closecircle.svg' %}" onclick="popupOffS()">
            <div id="schrittefenster">
                <div class="auflistungSchritt" onclick="location.href='Anleitung_durchgehen.html'">
                    <img id="Bild1" src="{% static 'Bilder/Ofenkartoffeln.jpg' %}">
                    <h2>Schritt 1</h2>
                </div>
                <div class="auflistungSchritt" onclick="location.href='Anleitung_durchgehen2.html'">
                    <img id="Bild2" src="{% static 'Bilder/GeschnitteneGurkeKnoblauch.jpeg' %}">
                    <h2>Schritt 2</h2>
                </div>
                <div class="auflistungSchritt" onclick="location.href='Anleitung_durchgehen3.html'">
                    <img id="Bild3" src="{% static 'Bilder/Zaziki.jpeg' %}">
                    <h2>Schritt 3</h2>
                </div>
                <div class="auflistungSchritt" onclick="location.href='Anleitung_durchgehen4.html'">
                    <img id="Bild4">
                    <h2>Schritt 4</h2>
                </div>
                <div class="auflistungSchritt" onclick="location.href='Anleitung_durchgehen5.html'">
                    <img id="Bild5" src="{% static 'Bilder/FischPfanne.jpeg' %}">
                    <h2>Schritt 5</h2>
                </div>
                <div class="auflistungSchritt" onclick="location.href='Anleitung_durchgehen6.html'">
                    <img id="Bild6" src="{% static 'Bilder/Seehecht_angeordnet.jpg' %}">
                    <h2>Schritt 6</h2>
                </div>
            </div>
        </div>
    </div>

    <!-- Header mit Logo und Buttons -->
    <div class="header">
        <div class="boxumAErstellen" onclick="window.location.pathname = '/SBSInstructionsproject/anleitungerstellen'">
            <input class="aErstellen" type="button">
        </div>

        <div class="boxumProfil" onclick="window.location.pathname = '/SBSInstructionsproject/login'">
            <input class="profil" type="button">
        </div>       
    </div>
    <div class="logocontainer" onclick="window.location.pathname = '/SBSInstructionsproject'">
        <img class="logo" src="{% static 'Bilder/Logo.svg' %}">
    </div>

    <!-- Buttons -->
    <div class="navresbuttons"> 
        <button id="ueberblick">
            <img id="sizeicon" src="{% static 'Bilder/Overview.svg' %}" onclick="popupOnS()">
        </button>
        <button id="rueckmelder">
            <img id="fragezeichen" src="{% static 'Bilder/Fragezeichen.png' %}" onclick="popupOnF()">
        </button>
        
    </div>

    <div id="anleitungstitel">
        <h1>Anleitungstitel: {{ anleitungstitel }}</h1>
    </div>

    <div id="linkeZelle">
    <div id="schritt-details">
        <div> Überschrift</div>
        <div>
            {% for einzelschritt in einzelschritte %}
                <li data-index="{{ forloop.counter0 }}">
                    <div class="einzelschritt">
                      {{ einzelschritt.schrittbenennung }}
                      <p>{{ einzelschritt.beschreibung }}</p>
                    </div>
                    <div class="komponenten-container">
                        {% for komponente in komponenten.komponenten %}
                            <div class="komponente">
                                  <p>  {{ komponente }}</p>
                            </div>
                            <div class="kompbild">
                                <p>Komponentenbild:</p>
                                {{ komponenten.kompbild }}
                            </div>
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}
            </div>
        </div>
    </div>

    <div class="rechteZelle" onclick="popupOnV()">
         <img src="{{ einzelschritt.bild }}" class="schrittbildrechtezelle" onclick="popupOnV()">
    </div>
    
    <div class="vorzurueck">
        <div class="anzeige">
            <img src="{% static 'Bilder/Back button.svg' %}" class="buttonkleinlinks" id="buttonkleinlinks" onclick="loadAnleitungData1()">
            <svg id="fortschrittsanzeige" onload="fortschritt(1,6)"></svg>
            <img src="{% static 'Bilder/weiter.svg' %}" class="buttonkleinrechts" id="buttonkleinrechts" onclick="loadAnleitungData1()">
        </div>
        <div class="fortschrittszahl">
            <h4>1/6</h4>
        </div>
    </div>

    <!-- Daten aus views.py werden geholt mit der id="schritte-json" und der id="komponenten-json" -->
    {{ einzelschritte|json_script:"schritte-json" }}
    {{ komponenten|json_script:"komponenten-json" }}
</body>
</html>